<% include ../partials/header %>
  <h1><%= post.title%>'s comments:</h1>
  <% post.comments.forEach(function(comment){ %>
    <p>
      <a href="/posts/<%= post._id%>/comments/<%= post.comment%>">More about this comment</a>
      <%= comment.body%> <%= comment.creator %> 
      
    </p>
  <% })%>
  <a href="/posts/<%= post.id%>/comments/new">Add a new comment!</a>
  <p>
    <a href="/posts/<%= post._id%>/comments/<%= post.comment%>/edit">Edit this comment</a>
  </p>
  <p>
    <a href="/posts">See all posts</a>
  </p>
<% include ../partials/footer %>

